:root {
  /*Bkg color of buttons*/
  --clr-accent-400: hsl(238, 73%, 69%);
    
  /*Color of footer text*/
  --clr-accent-300: hsl(0, 0%, 0%);
    
  /*The color of wds when mentioned in text*/
  --clr-accent-100: hsl(238, 73%, 69%);
  
  /*The color of the main text*/
  --clr-primary-400: hsl(0, 0%, 100%);
  
  /*Below is background color of the header, footer and body*/
  --clr-neutral-900: hsl(0, 0%, 83%);
  --clr-neutral-200: hsl(0, 0%, 0%);
  --clr-neutral-100: rgb(61, 59, 59);
  
  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Inter', sans-serif;
  --ff-navigation: 'Inter', sans-serif;
  --ff-footer: 'Inter', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-accent: var(--ff-primary);
  

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 900;

  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: .9375rem;
  --fs-600: 1.5rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;
  
  --fs-body: var(--fs-600);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-main-text: var(--fs-600);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-700: 1.75rem; 
    --fs-600: 2.5;

    --fs-body: var(--fs-600);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-700);
    --fs-tri-heading: var(--fs-600);

    --fs-nav: var(--fs-300);

  }
}

/*Styling reset*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--clr-neutral-200);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Navbar styles*/
.nav-container {
  background-color: var(--clr-neutral-900);
}

.outside-header {
  font-family: 'Source Code Pro', monospace;
}

.primary-navigation {
  background-color: var(--clr-neutral-900);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-accent-300);
}

/*Section styles*/
.container {
  padding: 5rem;
}

.fast-changes {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

section {
  width: 100%;
  height: auto;
  color: var(--clr-primary-400);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-main-text {
  font-size: var(--fs-main-text);
}

.fs-300 { font-size:var(--fs-300);}
.fs-400 { font-size: var(--fs-400);}
.fs-500 { font-size: var(--fs-500);}
.fs-600 { font-size: var(--fs-600);}

/*Spacing and stuff for entire site*/
  
/*Section one spacing*/
  .welcome h1 {
    padding-bottom: 3.4rem;
  }
/*End of section 1 spacing*/

/*Section two spacing*/
  .section-2 p {
    padding-bottom: 3.4rem;
  }
/*End of section two spacing*/

/*Section 3 spacing*/
  .section-3 p {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
/*End of section 3 spacing*/

/*Section 4 borders for projects*/
  .section-4 img {
    border: .5rem solid var(--clr-accent-400);
  }
/*End of section 4 spacing*/

/*Start of section 5 spacing*/
  .section-5 h2 {
    padding-bottom: 2rem;
  }
  .section-5 p {
    padding-bottom: 1.5rem;
  }
/*End of section 5 spacing*/

/*Start of section 6 spacing*/
.section-6 h2 {
  padding-bottom: 2rem;
}
.section-6 p {
  padding-bottom: 1.5rem;
}
/*End of section 6 spacing*/

/*Section 7 spacing*/
.section-7 h2 {
  padding-bottom: 2rem;
}
.section-7 p {
  padding-bottom: 1.5rem;
}
/*End of section 7 spacing */

/*End of spacing and stuff*/

/*Everything centered according to Figma*/
section {
  text-align: center;
}

/*Image styling*/
.computer-screen {
  display: flex;
  justify-content: center;
}

.arrow {
  padding-top: -3rem;
  margin-top: -3rem;
  padding-bottom: -6rem;
  margin-bottom: -6rem;
  display: flex;
  justify-content: center;
}

.project-ss {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.desktop-dev {
  display: flex;
  justify-content: center;
}

.mobile-dev {
  display: flex;
  justify-content: center;
}

@media (max-width: 48em) {

}
/*Navigation Styles*/

/*WDS Tab header*/

.tab-heading {
  text-align: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab-heading button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab-heading button:hover {
  background-color: #ddd;
}

/*End of tab header*/

/* Style the tab */
.nav-container {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*F.A.Q css styles*/
.faq-section {
  width: 100%;
  height: auto;
  background-color: var(--clr-neutral-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;

}

.accordion-item {
  color: var(--clr-neutral-400);
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0red, 0, 0, .1);
}

.accordion-link {
  font-size: var(--fs-main-text);
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
  background-color: var(--clr-neutral-100);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

ion-icon {
  color: var(--clr-accent-100);
  padding: .5rem;
}

.accordion-link .remove {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, .6);
  transition: max-height 2s;
}

.answer::before {
  content: " ";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: var(--clr-accent-400);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  color: var(--clr-primary-400);
  padding: 2rem;
}

.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .accordion-link .add {
  display: none;
}

.accordion-item:target .accordion-link .remove {
  display: block;
}


/*Footer styling*/

.bg-color5 {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: var(--clr-neutral-900);
}

.footerleft,
.footermiddle, 
.footerright {
  display: flex;
}

.fflexcontain {
  display: flex;
  justify-content: space-around;
}

.fflex {
  display: flex;
}

.footercolumn {
  display: flex;
  flex-direction: column;
}

.footercolumn ul li {
  list-style: none;
  text-align: center;
}

footer p{
  color: var(--clr-accent-300);
  text-align: center;
  border-bottom: 1px solid var(--clr-accent-300);
  border-radius: 10%;
}

footer a{
  color: var(--clr-accent-300);
  text-align: center;
}
footer a:hover {
  color: var(--fc-hover)
}
.footer-heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-subheading);
}
.inputemail {
  margin: 0 auto;
}

/* media queries for the footer */
@media (max-width: 48em) {
  .footerleft, 
  .footermiddle, 
  .footerright {
      flex-direction: column;
  }
  .fflexcontain {
      flex-direction: column;
  }
  .fflex {
      flex-direction: column;
      margin-inline: auto;
      width: min(90%, 70.5rem);
  }
  .footercolumn {
      flex-direction: column;
  }
}


/*Utiity classes*/

/*Color of primary text across entire primary background */
.text-primary {
  color: var(--clr-primary-400);
  font-family: var(--ff-primary);
}

/*Below are heading sizes*/

/*Color of WDS logo and text across entire site*/
.text-accent-100 {
  color: var(--clr-accent-100);
}

/*color of secondary text such as footer and navbar*/
.text-accent-300 {
  color: var(--clr-accent-300);
}

/*Color of background in main body will be black*/
.bg-primary-100 {
  color: var(--clr-neutral-100);
}

/*Color for navbar, and footer*/
.bg-secondary-900 {
  color: var(--clr-neutral-900);
}
/*end of background and text color utilities*/